/**
 * Ant Brackets Theme
 * https://github.com/ant7/ant-brackets-theme
 *
 * Dark color theme meant to be easy on the eyes
 * 
 * Author: Antonia Ciocodeica <ant@studio78.ro> (http://www.behance.net/ant7)
 * Licence: MIT 
 */


.CodeMirror,
.CodeMirror-scroll {
    color: #f0e9c7;
    line-height: 1.6;
    background-color: #150C0B;
}
    /* TODO: style the inline widget a little bit more */
    .inline-widget .CodeMirror {
        background-color: #080404!important;
    }


.CodeMirror-activeline-background {
    color: inherit;
    background-color: #271614;
}

.CodeMirror-cursor {
    border-color: #F7F3D2!important;
}

.CodeMirror-selected {
    background: #5D1D15;
}

/* Gutters */
.CodeMirror-gutters {
    background: #100908;
}
    .inline-widget .CodeMirror-gutters {
        background-color: #0a0505;
    }

/* Active line gutter */
.CodeMirror-activeline > div,
.CodeMirror-activeline .CodeMirror-gutter-elt {
    height: 100%;
}
    .CodeMirror-activeline .CodeMirror-gutter-elt {
        color: #76554B;
        background-color: #1F1110;
    }

/* Linenumbers */
.CodeMirror-linenumber {
    color: #563D36;
}
    .inline-widget .CodeMirror-linenumbers {
        background: none!important;
    }

/* Error */
.cm-error {
    color: #dc322f;
    border-bottom: 1px dotted;
}

/* Searching */
.CodeMirror-searching {
    color: #5D1D15!important;
    background: #FFFF26;
}

/* Quick view highlight */
.quick-view-highlight {
    color: inherit!important;
    background: #5D1D15;
}

/* Code folder extension */
.CodeMirror-foldmarker {
    color: #150C0B;
    background-color: #D9AC71;
    border: none;
}

.CodeMirror-foldgutter, 
.CodeMirror-foldgutter-open, 
.CodeMirror-foldgutter-folded, 
.CodeMirror-foldgutter-blank {
    color: #1f110f;
}
    .CodeMirror-activeline .CodeMirror-foldgutter, 
    .CodeMirror-activeline .CodeMirror-foldgutter-open, 
    .CodeMirror-activeline .CodeMirror-foldgutter-folded, 
    .CodeMirror-activeline .CodeMirror-foldgutter-blank {
        color: #76554B;
    }


/* Code */
.CodeMirror-code pre {
    padding: 0 1em;
}

.cm-comment { 
    color: #9C7D72;
}

.cm-string,
.cm-string-2 {
    color: #C9D575;
}
    /* eg: regular expression */
    .cm-string-2 {
        border-bottom: 1px dotted;
    }

.cm-meta {
    color: #E47A56;
}
.cm-keyword,
.cm-operator {
    color: #9CCD2C;
}

/* eg: functions calls in php (tried before with #FFF86F) */
.cm-variable {
    color: #FF9A35;
}

/* eg: normal variables in php */
.cm-variable-2 {
    color: #b7eb98;
}

/* eg: css3 selectors */
.cm-variable-3 {
    color: #ABD38F;
}

/* tags & brackets */
.cm-tag,
.cm-bracket {
    color: #FFCD08;
}
    /* tags & brackets - matching / non-matching */
    .CodeMirror-matchingtag,
    .CodeMirror-matchingbracket {
        background: none;
    }
    .CodeMirror-matchingtag.cm-tag,
    .CodeMirror-matchingbracket {
        color: #FFFF26!important;
        border-bottom: 1px solid;
    }
        .CodeMirror-nonmatchingbracket {
            color: #dc322f!important;
        }

/* eg: css classes */
.cm-qualifier { 
    color: #BDEC5B;
}

.cm-property {
    color: #D9AC71;
}

.cm-atom { 
    color: #c7703a;
}

.cm-number {
    color: #FF5C26;
}

/* eg: at rule in css, variables in js */
.cm-def { 
    color: #b7eb98;
}

.cm-attribute {
    color: #78E087;
}

/* eg: php predefined functions */
.cm-builtin {
    color: #FF9326;
}